body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://img.freepik.com/premium-vector/people-call-taxi-girls-waiting-car-tracking-transport-tag-mobile-app-travelers-use-yellow-city-transport-women-with-luggage-waving-hand-use-smartphone-vector-concept_176411-5202.jpg?w=2000");
    background-size: cover;
    margin: 0px;
}
.header{
    color: black;   
    padding-top: 0px;; 
    padding-left: 300px;
    font-weight: bold;
    font-size: 23px;
}
.mid-container{
    background-color:burlywood;
    color:black;
    margin-top: 60px;
    margin-left: 160px;
    padding-left: 50px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    height: 300px;
    border-radius: 20px;
}
#pickup{
    width: 500px;
    height:35px;
}
#drop{
    width: 250px;
    height:35px;
}
#date{
    width: 170px;
    height:35px;
    
}
#time{
    width: 170px;
    height:35px;
}
#passenger{
    width: 350px;
    height:35px;
}
#search{
    width: 1150px;
    height: 330px;
    background-color: #04AA6D;
    border: 100px;
    color: white;
    font-weight: bold;
}


  .alert-danger{
    color: red;
  }